<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تشخیص جنسیت
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    امروزه شبکه‌های اجتماعی کاربردهای گسترده‌ای دارند. اولین استفاده آن، تفریح و اوقات فراغت است. اما از دید دیگر، می‌توان از شبکه‌های اجتماعی برای پیدا کردن الگوهای رفتاری استفاده کرد. به عنوان مثال با تحلیل نظرات کاربران شبکه‌های اجتماعی می‌توانیم ضعف‌های کسب و کار خود را پیدا کنیم.
    <br>
    جنسیت یکی از پارامترهای تاثیرگذار در رفتار کاربران است. در مواجه با یک موضوع، بانوان عمدتا یک‌طور واکنش نشان خواهند داد و آقایان نیز طور دیگری!
    <br>
    حال در این تمرین قصد داریم با اطلاعاتی که دیتاک از کاربران توییتر و اینستاگرم در اختیار ما قرار داده است، جنسیت آن‌ها را پیش‌بینی کنیم.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیاز را وارد می‌کنید.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزش ۸۰۰۰ سطر و ۱۰ ستون دارد. در جدول زیر، اطلاعات بیشتری در مورد داده نوشته شده است.     
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|gender|جنسیت (ستون هدف)|
|age|بازه سنی کاربر|
|fullname|نامی که در پروفایل شبکه اجتماعی نوشته شده است |
|username|نام کاربری|
|biography|بیوگرافی شبکه اجتماعی کاربر|
|follower_count|تعداد دنبال‌کننده‌های کاربر|
|following_count|تعداد افرادی که کاربر را دنبال می‌کنند|
|is_business|کسب‌وکاری بودن حساب کاربری|
|is_verified|تایید شده بودن حساب کاربری|
|is_private|خصوصی بودن حساب کاربری|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ستون <code>age</code> متغیر پیوسته نیست؛ بلکه دسته‌های سنی را نشان می‌دهد. در جدول زیر نحوه نگاشت سن را مشاهده می‌کنیم.
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|سن واقعی کاربران|عدد نگاشت شده|
|:------:|:---:|
|1|کمتر از ۱۸ سال|
|2|از ۱۹ تا ۲۹ سال|
|3|از ۳۰ تا ۴۰ سال|
|4|بالاتر از ۴۰ سال|
    
</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانیم. نمونه‌های آموزشی در فایل <code>train_data.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنیم در فایل <code>test_data.csv</code> ذخیره شده‌اند. 
</p>

In [2]:
train = pd.read_csv('../data/train_data.csv')
test = pd.read_csv('../data/test_data.csv')
train

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,دردا ک در این بادیه بسیار دویدیم...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"خواهی که زکوچ در امان برگردی\nباید که به جان ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnaz♥,___lady.farahnazi.__,"Having you, is all I wish for \nداشتنت، تمامِ...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,دردونه من لنا کوچولو,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\n🎧🎼🎨⚓️🤍 \n@general.m...,200.0,328.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,Ŋεgɨŋ,negiiin_bahrmandi,﷽\nAllah IS Enough FoR Me?\n♥️?,0.0,0.0,0.0,0.0,0.0
7996,man,3,h🗯abdi🗯offìcial,h.abdi.official,حقوقی,0.0,0.0,1.0,0.0,0.0
7997,woman,2,⚜رویا احمدی⚜,roya.ahmadi.k,مهندس صنایع👩‍🔧🏭 Industrial engineer\nمعمار👩‍💻👷...,1260.0,1167.0,0.0,0.0,0.0
7998,man,3,لرستان &خرم اباد,erfanpouersif,khoramabad,0.0,0.0,0.0,0.0,0.0
7999,man,4,Sasan,sasan.zeinoddin,Sport 🏃🏻‍♂️🏊🏼‍♂️🚴🏽‍♂️\nCivil Engineer🗽\nKurdis...,0.0,0.0,0.0,0.0,0.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

In [3]:
train.gender

0         man
1       woman
2       woman
3       woman
4       woman
        ...
7995    woman
7996      man
7997    woman
7998      man
7999      man
Name: gender, Length: 8000, dtype: object

In [4]:
train.describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,8000,8000.000000,8000,8000,8000,8000.000000,8000.00000,7997.000000,8000.000000,8000.000000
unique,2,NaN,7171,8000,7930,NaN,NaN,NaN,NaN,NaN
top,man,NaN,maryam,mr_gh_farshid,فقط خدا,NaN,NaN,NaN,NaN,NaN
freq,4000,NaN,28,1,5,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.659875,NaN,NaN,NaN,2745.200250,712.20650,0.103289,0.000125,0.000125
std,NaN,0.724228,NaN,NaN,NaN,20156.322638,1465.37601,0.304355,0.011180,0.011180
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
25%,NaN,2.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
50%,NaN,3.000000,NaN,NaN,NaN,124.000000,133.00000,0.000000,0.000000,0.000000
75%,NaN,3.000000,NaN,NaN,NaN,917.250000,681.00000,0.000000,0.000000,0.000000
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.00000,1.000000,1.000000,1.000000

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    توضیع مردان نسبت به زنان یکسان هست، لذا مجموعه داده متوازن است.
    <br>
    میانگین <code>is_private</code> و <code>is_verified</code>  نزدیک به صفر است، یعنی اکثر مقادیر این ستون ها صفر هستند
    <br>
    
</font>
</p>

In [5]:
train.nunique()

gender                2
age                   4
fullname           7171
username           8000
biography          7930
follower_count     2477
following_count    2055
is_business           2
is_verified           2
is_private            2
dtype: int64

In [6]:
train[train['is_private'] == 1]

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
4389,woman,2,Miss gh,banoo_gh1313,●━━━━♡łøvə ýøū───── \nMarried💍💎,710.0,378.0,NaN,0.0,1.0

In [7]:
train[train['is_verified'] == 1]

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
6966,woman,4,Nooshafarin نوش آفرين,nooshafarin.a,Nooshafarin official page\nصفحه رسمی نوش افرین,296244.0,118.0,1.0,1.0,0.0

In [8]:
train[train['is_business'] == 1].describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,826,826.000000,826,826,826,826.000000,826.000000,826.0,826.000000,826.0
unique,2,NaN,817,826,826,NaN,NaN,NaN,NaN,NaN
top,man,NaN,alireza,officemehran,وی در خانواده مذهبی اعتقاد خود را از دست داد😀😀,NaN,NaN,NaN,NaN,NaN
freq,524,NaN,3,1,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.742131,NaN,NaN,NaN,11711.389831,1532.726392,1.0,0.001211,0.0
std,NaN,0.725362,NaN,NaN,NaN,46122.635507,2156.302881,0.0,0.034794,0.0
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.000000,1.0,0.000000,0.0
25%,NaN,2.000000,NaN,NaN,NaN,800.750000,129.000000,1.0,0.000000,0.0
50%,NaN,3.000000,NaN,NaN,NaN,2583.500000,614.000000,1.0,0.000000,0.0
75%,NaN,3.000000,NaN,NaN,NaN,8935.500000,1712.250000,1.0,0.000000,0.0
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.000000,1.0,1.000000,0.0

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    پراکندگی <code>is_private</code> و <code>is_verified</code>  مناسب نیست.
    <br>
    اکثر کسب کار ها آقایان اداره میکنند لذا برای پیش‌بینی متغییر هدف ویژگی مناسبی هست.

</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ویژگی های اضافی را حذف می‌کنیم.
    
</font>
</p>

In [10]:
train.drop(columns=['follower_count', 'following_count', 'is_verified',
           'is_private', 'username', 'age', 'biography'], inplace=True)
test.drop(columns=['follower_count', 'following_count', 'is_verified',
          'is_private', 'username', 'age', 'biography'], inplace=True)

In [11]:
train

     gender           fullname  is_business
0       man            Farshid          0.0
1     woman            zahr@72          0.0
2     woman       ms farahnaz♥          0.0
3     woman  Lena.mommy farzan          0.0
4     woman  Narsis Asadollahi          0.0
...     ...                ...          ...
7995  woman              Ŋεgɨŋ          0.0
7996    man    h🗯abdi🗯offìcial          1.0
7997  woman       ⚜رویا احمدی⚜          0.0
7998    man   لرستان &خرم اباد          0.0
7999    man              Sasan          0.0

[8000 rows x 3 columns]

In [12]:
train.isna().sum()

gender         0
fullname       0
is_business    3
dtype: int64

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مقادیر گمشده را با بیشترین تکرار پر میکنیم.

    
</font>
</p>

In [13]:
train.is_business.fillna(0.0, inplace=True)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    از کتابخانه <code>hazm</code> برای زبان فارسی و <code>nltk</code>  برای زبان انگلیسی استفاده میکنیم.
    <br>
    <code>fullname</code> به کمک توابع زیر به ریشه مناسب تبدیل میکنیم.

</font>
</p>

In [14]:
import string
from hazm import *
from hazm import stopwords_list
from nltk.tokenize.casual import TweetTokenizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import unicodedata
import re


normalizer = Normalizer(persian_numbers=False, persian_style=False)
tokenizer = WordTokenizer(separate_emoji=True, replace_links=True, replace_ids=True,
                          replace_emails=False, replace_numbers=True, replace_hashtags=True)
stop_words_EN = set(stopwords.words('english'))
stop_words_FA = set(stopwords_list())

lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()
t = TweetTokenizer()


def pre_fast(text):

    # Decompose compatibility characters
    text = unicodedata.normalize("NFKD", text)

    # lowercase_text(text)
    text = text.lower()

    text = re.sub(r'\d+', '', text)

    # remove_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))

    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~؟!.،,?'''

    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, "")

    punc = '''\u200d♂️٪'🏻','''
    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, "")

    text = normalizer.normalize(text)

    # Remove_stop_words_English and Remove_stop_words_Farsi and Lemmatizer_Farsi and Stemmer_English
    # romove number

    text = re.sub(r'\d+', '', text)
    words = tokenizer.tokenize(text)
    text = ' '.join(words)
    words = t.tokenize(text)

    words = [lemmatizer.lemmatize(stemmer.stem(
        word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

    text = ' '.join(words)

    punc = '''\u200c'''

    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, " ")

    text = re.sub(r'\d+', '', text)
    words = tokenizer.tokenize(text)
    text = ' '.join(words)
    words = t.tokenize(text)
    words = t.tokenize(text)

    words = [lemmatizer.lemmatize(stemmer.stem(
        word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

    text = ' '.join(words)

    text = normalizer.normalize(text)
    # remove_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))

    text = text.replace('''\u200c''', " ")
    text = text.replace('\u200c', " ")

    global A

    return text

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    به کمک <code>TfidfVectorizer</code> متن به بردارهای عددی تبدیل میکنیم.
    
</font>
</p>

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer


corpus = train['fullname']
tfidf_vect_fullname = TfidfVectorizer(preprocessor=pre_fast, min_df=2)
final_counts_fullname = tfidf_vect_fullname.fit_transform(corpus)

print(tfidf_vect_fullname.get_feature_names_out())
print(final_counts_fullname.toarray()[0])
print(final_counts_fullname.toarray()[1])

['aba' 'abadi' 'abba' ... 'რσძ' 'みα' '乙ム']
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]

In [16]:
tfidf_vect_fullname.get_feature_names_out()

array(['aba', 'abadi', 'abba', ..., 'რσძ', 'みα', '乙ム'], dtype=object)

In [17]:
test_biography = test['fullname']
test_counts_fullname = tfidf_vect_fullname.transform(test_biography)

In [18]:
final_counts_fullname.toarray().shape

(8000, 1235)

In [19]:
test_counts_fullname.toarray().shape

(2000, 1235)

In [20]:
train_data = pd.DataFrame(final_counts_fullname.toarray())
test_data = pd.DataFrame(test_counts_fullname.toarray())
train_data

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مقادیر غیر عددی را به عددی تبدیل میکنیم.

</font>
</p>

In [21]:
train.drop(columns=['fullname'], inplace=True)

train['gender'].replace({'woman': 0, 'man': 1}, inplace=True)
train

      gender  is_business
0          1          0.0
1          0          0.0
2          0          0.0
3          0          0.0
4          0          0.0
...      ...          ...
7995       0          0.0
7996       1          1.0
7997       0          0.0
7998       1          0.0
7999       1          0.0

[8000 rows x 2 columns]

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
دیتا نهایی را برای مودل سازی میسازیم.

</font>
</p>

In [22]:
test.drop(columns=['fullname'], inplace=True)

In [23]:
concatenated_test_data = pd.concat([test, test_data], axis=1)
concatenated_test_data.columns = concatenated_test_data.columns.astype(str)
concatenated_test_data

,is_business,0,1,2,3,4,5,6,7,8,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
concatenated_train_data = pd.concat([train, train_data], axis=1)
concatenated_train_data.columns = concatenated_train_data.columns.astype(str)
concatenated_train_data

,gender,is_business,0,1,2,3,4,5,6,7,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

--------------------------------------------------

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی جدا میکنیم.

</font>
</p>

In [25]:
from sklearn.model_selection import train_test_split
X = concatenated_train_data.drop(columns=['gender']).to_numpy()
y = concatenated_train_data['gender'].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مرحله اول
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    از تعدادی الگوریتم ماشین لرنینگ معمولی مثل XGBoost ،Decision Tree ،Naive Bayes ،SVM ،Logistic Regression و  AdaBoost    استفاده می‌کنیم 
        <br>
    و دقت هر مدل را نمایش میدهیم.

</font>
</p>

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report


# List of models
models = [
    LogisticRegression(),
    SVC(),
    GaussianNB(),
    DecisionTreeClassifier(),
    XGBClassifier(),
    AdaBoostClassifier()
]


# Fit models and print classification report
for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(model.__class__.__name__+' Report:')
    print(classification_report(y_test, y_pred))

LogisticRegression Report:
              precision    recall  f1-score   support

           0       0.75      0.94      0.83       801
           1       0.92      0.69      0.79       799

    accuracy                           0.81      1600
   macro avg       0.83      0.81      0.81      1600
weighted avg       0.83      0.81      0.81      1600

SVC Report:
              precision    recall  f1-score   support

           0       0.75      0.91      0.82       801
           1       0.89      0.69      0.78       799

    accuracy                           0.80      1600
   macro avg       0.82      0.80      0.80      1600
weighted avg       0.82      0.80      0.80      1600

GaussianNB Report:
              precision    recall  f1-score   support

           0       0.92      0.53      0.67       801
           1       0.67      0.95      0.78       799

    accuracy                           0.74      1600
   macro avg       0.79      0.74      0.73      1600
weighted avg       0.79      0.74      0.73      1600

DecisionTreeClassifier Report:
              precision    recall  f1-score   support

           0       0.74      0.92      0.82       801
           1       0.90      0.68      0.78       799

    accuracy                           0.80      1600
   macro avg       0.82      0.80      0.80      1600
weighted avg       0.82      0.80      0.80      1600

XGBClassifier Report:
              precision    recall  f1-score   support

           0       0.68      0.94      0.79       801
           1       0.90      0.55      0.68       799

    accuracy                           0.74      1600
   macro avg       0.79      0.74      0.73      1600
weighted avg       0.79      0.74      0.73      1600

AdaBoostClassifier Report:
              precision    recall  f1-score   support

           0       0.63      0.93      0.75       801
           1       0.86      0.45      0.59       799

    accuracy                           0.69      1600
   macro avg       0.75      0.69      0.67      1600
weighted avg       0.75      0.69      0.67      1600

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
     الگوریتم Logistic Regression با 0.81 = f1-score بیشترین دقت را تا الان دارد.

</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مرحله دوم
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  با استفاده از Stack generalization بررسی میکنیم، دقت ترکیب همشون بهتر از تک تکشون میشود یا خیر.

</font>
</p>

In [27]:
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report


# Define the base models
base_models = [
    ('lr', LogisticRegression()),
    ('svm', SVC()),
    ('nb', GaussianNB()),
    ('dt', DecisionTreeClassifier()),
    ('xgb', XGBClassifier()),
    ('ab', AdaBoostClassifier())
]

# Define the meta-model (Logistic Regression is used here, you can choose a different one)
meta_model = LogisticRegression()

# Create the stacking classifier
stacking_classifier = StackingClassifier(
    estimators=base_models, final_estimator=meta_model)

# Train the stacking classifier
stacking_classifier.fit(X_train, y_train)

# Make predictions
y_pred_stacking = stacking_classifier.predict(X_test)

# Print the classification report for the stacking classifier
print("Stacking Classifier Classification Report:")
print(classification_report(y_test, y_pred_stacking))

Stacking Classifier Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.94      0.84       801
           1       0.92      0.69      0.79       799

    accuracy                           0.82      1600
   macro avg       0.84      0.82      0.81      1600
weighted avg       0.84      0.82      0.81      1600


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ترکیب الگوریتم ها دقت را کمی افزایش داد.
        <br>
الگوریتم Stack generalization با 0.82 = f1-score بیشترین دقت را تا الان دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مرحله سوم
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  چند روش عمیق را تست می‌کنیم و با الگوریتم های قبلی مقایسه می‌کنیم.

</font>
</p>

In [29]:
from sklearn.metrics import classification_report
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Conv1D, LSTM, Flatten


# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

num_columns = X_train[0].size


# Model 1: Multilayer Perceptron (MLP)
model_mlp = Sequential([
    Dense(128, activation='relu', input_shape=(num_columns,)),
    Dense(64, activation='relu'),
    Dense(2, activation='softmax')
])

model_mlp.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_mlp.fit(X_train, y_train, epochs=5, batch_size=8, validation_split=0.1)


# Model 2: Convolutional Neural Network (CNN)
X_train_cnn = X_train.reshape(-1, num_columns, 1)
X_test_cnn = X_test.reshape(-1, num_columns, 1)

model_cnn = Sequential([
    Conv1D(16, kernel_size=2, activation='relu', input_shape=(num_columns, 1)),
    Flatten(),

    Dense(2, activation='softmax')
])

model_cnn.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_cnn.fit(X_train_cnn, y_train, epochs=5,
              batch_size=8, validation_split=0.1)


# Model 3: Recurrent Neural Network (RNN)
model_rnn = Sequential([
    LSTM(64, activation='relu', input_shape=(num_columns, 1)),
    Dense(2, activation='softmax')
])

model_rnn.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_rnn.fit(X_train_cnn, y_train, epochs=1,
              batch_size=8, validation_split=0.1)

# Evaluate models


def evaluate_model(model, X_test, y_test, model_name):
    print(f"\n{model_name} Evaluation:")
    y_pred_probs = model.predict(X_test)
    y_pred = np.argmax(y_pred_probs, axis=1)
    print(classification_report(y_test, y_pred))


# Evaluate the MLP model
evaluate_model(model_mlp, X_test, y_test, "Multilayer Perceptron")

# Evaluate the CNN model
evaluate_model(model_cnn, X_test_cnn, y_test, "Convolutional Neural Network")

# Evaluate the RNN model
evaluate_model(model_rnn, X_test_cnn, y_test, "Recurrent Neural Network")

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/5
WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

720/720 [==============================] - 5s 5ms/step - loss: 0.5383 - accuracy: 0.7010 - val_loss: 0.4288 - val_accuracy: 0.7656
Epoch 2/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3196 - accuracy: 0.8076 - val_loss: 0.4188 - val_accuracy: 0.7672
Epoch 3/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2970 - accuracy: 0.8056 - val_loss: 0.4057 - val_accuracy: 0.7688
Epoch 4/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2869 - accuracy: 0.8116 - val_loss: 0.4046 - val_accuracy: 0.7750
Epoch 5/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2778 - accuracy: 0.8193 - val_loss: 0.4107 - val_accuracy: 0.7734
Epoch 1/5
720/720 [==============================] - 4s 5ms/step - loss: 0.5092 - accuracy: 0.7278 - val_loss: 0.4379 - val_accuracy: 0.7750
Epoch 2/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3114 - accuracy: 0.8085 - val_loss: 0.4326 - val_accuracy: 0.7719
Epoch 3/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3015 - accuracy: 0.8137 - val_loss: 0.4131 - val_accuracy: 0.7766
Epoch 4/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2914 - accuracy: 0.8161 - val_loss: 0.4031 - val_accuracy: 0.7734
Epoch 5/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2869 - accuracy: 0.8196 - val_loss: 0.3998 - val_accuracy: 0.7797
720/720 [==============================] - 230s 317ms/step - loss: 63526140.0000 - accuracy: 0.5014 - val_loss: 0.6947 - val_accuracy: 0.4969

Multilayer Perceptron Evaluation:
50/50 [==============================] - 0s 2ms/step
              precision    recall  f1-score   support

           0       0.73      0.91      0.81       801
           1       0.88      0.66      0.75       799

    accuracy                           0.78      1600
   macro avg       0.80      0.78      0.78      1600
weighted avg       0.80      0.78      0.78      1600


Convolutional Neural Network Evaluation:
50/50 [==============================] - 0s 3ms/step
              precision    recall  f1-score   support

           0       0.74      0.91      0.82       801
           1       0.89      0.68      0.77       799

    accuracy                           0.80      1600
   macro avg       0.81      0.80      0.79      1600
weighted avg       0.81      0.80      0.79      1600


Recurrent Neural Network Evaluation:
50/50 [==============================] - 10s 188ms/step
              precision    recall  f1-score   support

           0       0.50      0.00      0.01       801
           1       0.50      1.00      0.67       799

    accuracy                           0.50      1600
   macro avg       0.50      0.50      0.34      1600
weighted avg       0.50      0.50      0.34      1600

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  با توجه به محدود بودن منابع پردازشی یادگیری را در مراحل اولیه متوقف کردیم.
  <br>
    بیشترین دقت را، در روش های یادگیری عمیق  CNN با 0.80 = f1-score  دارد.


</font>
</p>

------------

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    با توجه به تعداد داده های آموزشی و محدودیت منابع پردازشی،
الگوریتم Stack generalization با 0.82 = f1-score بیشترین دقت را دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی، مدلسازی و بررسی انواع الگوریتم‌ها  که می‌توانند ما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    وقت آن رسیده است از مدلی که بیشترین دقت را دارد برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنیم و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنیم.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|gender|جنسیت کاربر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>gender</i> است و ۲۰۰۰ سطر است.

</font>
</p>

In [ ]:
pred = stacking_classifier.predict(concatenated_test_data)

In [32]:
submission = pd.DataFrame(pred,columns=['gender'])
submission['gender'].replace({0:'woman', 1:'man'},inplace=True)

submission

     gender
0     woman
1       man
2       man
3     woman
4     woman
...     ...
1995  woman
1996  woman
1997  woman
1998  woman
1999  woman

[2000 rows x 1 columns]