<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ØªØ´Ø®ÛŒØµ Ø¬Ù†Ø³ÛŒØª
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ù‚Ø¯Ù…Ù‡ Ùˆ ØµÙˆØ±Øª Ù…Ø³Ø¦Ù„Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ù…Ø±ÙˆØ²Ù‡ Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø¯Ù‡Ø§ÛŒ Ú¯Ø³ØªØ±Ø¯Ù‡â€ŒØ§ÛŒ Ø¯Ø§Ø±Ù†Ø¯. Ø§ÙˆÙ„ÛŒÙ† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø¢Ù†ØŒ ØªÙØ±ÛŒØ­ Ùˆ Ø§ÙˆÙ‚Ø§Øª ÙØ±Ø§ØºØª Ø§Ø³Øª. Ø§Ù…Ø§ Ø§Ø² Ø¯ÛŒØ¯ Ø¯ÛŒÚ¯Ø±ØŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø§Ø² Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ¯Ø§ Ú©Ø±Ø¯Ù† Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø±ÙØªØ§Ø±ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯. Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ù…Ø«Ø§Ù„ Ø¨Ø§ ØªØ­Ù„ÛŒÙ„ Ù†Ø¸Ø±Ø§Øª Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒÙ… Ø¶Ø¹Ùâ€ŒÙ‡Ø§ÛŒ Ú©Ø³Ø¨ Ùˆ Ú©Ø§Ø± Ø®ÙˆØ¯ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒÙ….
    <br>
    Ø¬Ù†Ø³ÛŒØª ÛŒÚ©ÛŒ Ø§Ø² Ù¾Ø§Ø±Ø§Ù…ØªØ±Ù‡Ø§ÛŒ ØªØ§Ø«ÛŒØ±Ú¯Ø°Ø§Ø± Ø¯Ø± Ø±ÙØªØ§Ø± Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø§Ø³Øª. Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡ Ø¨Ø§ ÛŒÚ© Ù…ÙˆØ¶ÙˆØ¹ØŒ Ø¨Ø§Ù†ÙˆØ§Ù† Ø¹Ù…Ø¯ØªØ§ ÛŒÚ©â€ŒØ·ÙˆØ± ÙˆØ§Ú©Ù†Ø´ Ù†Ø´Ø§Ù† Ø®ÙˆØ§Ù‡Ù†Ø¯ Ø¯Ø§Ø¯ Ùˆ Ø¢Ù‚Ø§ÛŒØ§Ù† Ù†ÛŒØ² Ø·ÙˆØ± Ø¯ÛŒÚ¯Ø±ÛŒ!
    <br>
    Ø­Ø§Ù„ Ø¯Ø± Ø§ÛŒÙ† ØªÙ…Ø±ÛŒÙ† Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ø¨Ø§ Ø§Ø·Ù„Ø§Ø¹Ø§ØªÛŒ Ú©Ù‡ Ø¯ÛŒØªØ§Ú© Ø§Ø² Ú©Ø§Ø±Ø¨Ø±Ø§Ù† ØªÙˆÛŒÛŒØªØ± Ùˆ Ø§ÛŒÙ†Ø³ØªØ§Ú¯Ø±Ù… Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ù…Ø§ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ Ø¬Ù†Ø³ÛŒØª Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒÙ….
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ÙˆØ§Ø±Ø¯ Ú©Ø±Ø¯Ù† Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø²
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ø¨ØªØ¯Ø§ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø² Ø±Ø§ ÙˆØ§Ø±Ø¯ Ù…ÛŒâ€ŒÚ©Ù†ÛŒØ¯.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¹Ø±ÙÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡ Ø¢Ù…ÙˆØ²Ø´ Û¸Û°Û°Û° Ø³Ø·Ø± Ùˆ Û±Û° Ø³ØªÙˆÙ† Ø¯Ø§Ø±Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ±ØŒ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø¨ÛŒØ´ØªØ±ÛŒ Ø¯Ø± Ù…ÙˆØ±Ø¯ Ø¯Ø§Ø¯Ù‡ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª.     
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª (Ø³ØªÙˆÙ† Ù‡Ø¯Ù)|
|age|Ø¨Ø§Ø²Ù‡ Ø³Ù†ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|fullname|Ù†Ø§Ù…ÛŒ Ú©Ù‡ Ø¯Ø± Ù¾Ø±ÙˆÙØ§ÛŒÙ„ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª |
|username|Ù†Ø§Ù… Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|biography|Ø¨ÛŒÙˆÚ¯Ø±Ø§ÙÛŒ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|follower_count|ØªØ¹Ø¯Ø§Ø¯ Ø¯Ù†Ø¨Ø§Ù„â€ŒÚ©Ù†Ù†Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|following_count|ØªØ¹Ø¯Ø§Ø¯ Ø§ÙØ±Ø§Ø¯ÛŒ Ú©Ù‡ Ú©Ø§Ø±Ø¨Ø± Ø±Ø§ Ø¯Ù†Ø¨Ø§Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯|
|is_business|Ú©Ø³Ø¨â€ŒÙˆÚ©Ø§Ø±ÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_verified|ØªØ§ÛŒÛŒØ¯ Ø´Ø¯Ù‡ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_private|Ø®ØµÙˆØµÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø³ØªÙˆÙ† <code>age</code> Ù…ØªØºÛŒØ± Ù¾ÛŒÙˆØ³ØªÙ‡ Ù†ÛŒØ³ØªØ› Ø¨Ù„Ú©Ù‡ Ø¯Ø³ØªÙ‡â€ŒÙ‡Ø§ÛŒ Ø³Ù†ÛŒ Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ± Ù†Ø­ÙˆÙ‡ Ù†Ú¯Ø§Ø´Øª Ø³Ù† Ø±Ø§ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ….
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³Ù† ÙˆØ§Ù‚Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø§Ù†|Ø¹Ø¯Ø¯ Ù†Ú¯Ø§Ø´Øª Ø´Ø¯Ù‡|
|:------:|:---:|
|1|Ú©Ù…ØªØ± Ø§Ø² Û±Û¸ Ø³Ø§Ù„|
|2|Ø§Ø² Û±Û¹ ØªØ§ Û²Û¹ Ø³Ø§Ù„|
|3|Ø§Ø² Û³Û° ØªØ§ Û´Û° Ø³Ø§Ù„|
|4|Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² Û´Û° Ø³Ø§Ù„|
    
</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ø®ÙˆØ§Ù†Ø¯Ù† Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¯Ø± Ø§Ø¨ØªØ¯Ø§ Ù†ÛŒØ§Ø² Ø§Ø³Øª ÙØ§ÛŒÙ„â€ŒÙ‡Ø§ÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ø±Ø§ Ø¨Ø®ÙˆØ§Ù†ÛŒÙ…. Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø¯Ø± ÙØ§ÛŒÙ„ <code>train_data.csv</code> Ùˆ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø²Ù…ÙˆÙ† Ú©Ù‡ Ø¨Ø§ÛŒØ¯ Ø¯Ø³ØªÙ‡â€ŒÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒÙ… Ø¯Ø± ÙØ§ÛŒÙ„ <code>test_data.csv</code> Ø°Ø®ÛŒØ±Ù‡ Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯. 
</p>

In [2]:
train = pd.read_csv('../data/train_data.csv')
test = pd.read_csv('../data/test_data.csv')
train

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,Ø¯Ø±Ø¯Ø§ Ú© Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø§Ø¯ÛŒÙ‡ Ø¨Ø³ÛŒØ§Ø± Ø¯ÙˆÛŒØ¯ÛŒÙ…...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"Ø®ÙˆØ§Ù‡ÛŒ Ú©Ù‡ Ø²Ú©ÙˆÚ† Ø¯Ø± Ø§Ù…Ø§Ù† Ø¨Ø±Ú¯Ø±Ø¯ÛŒ\nØ¨Ø§ÛŒØ¯ Ú©Ù‡ Ø¨Ù‡ Ø¬Ø§Ù† ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnazâ™¥,___lady.farahnazi.__,"Having you, is all I wish for \nØ¯Ø§Ø´ØªÙ†ØªØŒ ØªÙ…Ø§Ù…Ù...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,Ø¯Ø±Ø¯ÙˆÙ†Ù‡ Ù…Ù† Ù„Ù†Ø§ Ú©ÙˆÚ†ÙˆÙ„Ùˆ,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\nğŸ§ğŸ¼ğŸ¨âš“ï¸ğŸ¤ \n@general.m...,200.0,328.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,ÅŠÎµgÉ¨Å‹,negiiin_bahrmandi,ï·½\nAllah IS Enough FoR Me?\nâ™¥ï¸?,0.0,0.0,0.0,0.0,0.0
7996,man,3,hğŸ—¯abdiğŸ—¯offÃ¬cial,h.abdi.official,Ø­Ù‚ÙˆÙ‚ÛŒ,0.0,0.0,1.0,0.0,0.0
7997,woman,2,âšœØ±ÙˆÛŒØ§ Ø§Ø­Ù…Ø¯ÛŒâšœ,roya.ahmadi.k,Ù…Ù‡Ù†Ø¯Ø³ ØµÙ†Ø§ÛŒØ¹ğŸ‘©â€ğŸ”§ğŸ­ Industrial engineer\nÙ…Ø¹Ù…Ø§Ø±ğŸ‘©â€ğŸ’»ğŸ‘·...,1260.0,1167.0,0.0,0.0,0.0
7998,man,3,Ù„Ø±Ø³ØªØ§Ù† &Ø®Ø±Ù… Ø§Ø¨Ø§Ø¯,erfanpouersif,khoramabad,0.0,0.0,0.0,0.0,0.0
7999,man,4,Sasan,sasan.zeinoddin,Sport ğŸƒğŸ»â€â™‚ï¸ğŸŠğŸ¼â€â™‚ï¸ğŸš´ğŸ½â€â™‚ï¸\nCivil EngineerğŸ—½\nKurdis...,0.0,0.0,0.0,0.0,0.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´ Ùˆ Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ
</font>
</h2>

In [3]:
train.gender

0         man
1       woman
2       woman
3       woman
4       woman
        ...
7995    woman
7996      man
7997    woman
7998      man
7999      man
Name: gender, Length: 8000, dtype: object

In [4]:
train.describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,8000,8000.000000,8000,8000,8000,8000.000000,8000.00000,7997.000000,8000.000000,8000.000000
unique,2,NaN,7171,8000,7930,NaN,NaN,NaN,NaN,NaN
top,man,NaN,maryam,mr_gh_farshid,ÙÙ‚Ø· Ø®Ø¯Ø§,NaN,NaN,NaN,NaN,NaN
freq,4000,NaN,28,1,5,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.659875,NaN,NaN,NaN,2745.200250,712.20650,0.103289,0.000125,0.000125
std,NaN,0.724228,NaN,NaN,NaN,20156.322638,1465.37601,0.304355,0.011180,0.011180
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
25%,NaN,2.000000,NaN,NaN,NaN,0.000000,0.00000,0.000000,0.000000,0.000000
50%,NaN,3.000000,NaN,NaN,NaN,124.000000,133.00000,0.000000,0.000000,0.000000
75%,NaN,3.000000,NaN,NaN,NaN,917.250000,681.00000,0.000000,0.000000,0.000000
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.00000,1.000000,1.000000,1.000000

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ØªÙˆØ¶ÛŒØ¹ Ù…Ø±Ø¯Ø§Ù† Ù†Ø³Ø¨Øª Ø¨Ù‡ Ø²Ù†Ø§Ù† ÛŒÚ©Ø³Ø§Ù† Ù‡Ø³ØªØŒ Ù„Ø°Ø§ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡ Ù…ØªÙˆØ§Ø²Ù† Ø§Ø³Øª.
    <br>
    Ù…ÛŒØ§Ù†Ú¯ÛŒÙ† <code>is_private</code> Ùˆ <code>is_verified</code>  Ù†Ø²Ø¯ÛŒÚ© Ø¨Ù‡ ØµÙØ± Ø§Ø³ØªØŒ ÛŒØ¹Ù†ÛŒ Ø§Ú©Ø«Ø± Ù…Ù‚Ø§Ø¯ÛŒØ± Ø§ÛŒÙ† Ø³ØªÙˆÙ† Ù‡Ø§ ØµÙØ± Ù‡Ø³ØªÙ†Ø¯
    <br>
    
</font>
</p>

In [5]:
train.nunique()

gender                2
age                   4
fullname           7171
username           8000
biography          7930
follower_count     2477
following_count    2055
is_business           2
is_verified           2
is_private            2
dtype: int64

In [6]:
train[train['is_private'] == 1]

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
4389,woman,2,Miss gh,banoo_gh1313,â—â”â”â”â”â™¡Å‚Ã¸vÉ™ Ã½Ã¸Å«â”€â”€â”€â”€â”€ \nMarriedğŸ’ğŸ’,710.0,378.0,NaN,0.0,1.0

In [7]:
train[train['is_verified'] == 1]

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
6966,woman,4,Nooshafarin Ù†ÙˆØ´ Ø§Ù“ÙØ±ÙŠÙ†,nooshafarin.a,Nooshafarin official page\nØµÙØ­Ù‡ Ø±Ø³Ù…ÛŒ Ù†ÙˆØ´ Ø§ÙØ±ÛŒÙ†,296244.0,118.0,1.0,1.0,0.0

In [8]:
train[train['is_business'] == 1].describe(include='all')

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
count,826,826.000000,826,826,826,826.000000,826.000000,826.0,826.000000,826.0
unique,2,NaN,817,826,826,NaN,NaN,NaN,NaN,NaN
top,man,NaN,alireza,officemehran,ÙˆÛŒ Ø¯Ø± Ø®Ø§Ù†ÙˆØ§Ø¯Ù‡ Ù…Ø°Ù‡Ø¨ÛŒ Ø§Ø¹ØªÙ‚Ø§Ø¯ Ø®ÙˆØ¯ Ø±Ø§ Ø§Ø² Ø¯Ø³Øª Ø¯Ø§Ø¯ğŸ˜€ğŸ˜€,NaN,NaN,NaN,NaN,NaN
freq,524,NaN,3,1,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.742131,NaN,NaN,NaN,11711.389831,1532.726392,1.0,0.001211,0.0
std,NaN,0.725362,NaN,NaN,NaN,46122.635507,2156.302881,0.0,0.034794,0.0
min,NaN,1.000000,NaN,NaN,NaN,0.000000,0.000000,1.0,0.000000,0.0
25%,NaN,2.000000,NaN,NaN,NaN,800.750000,129.000000,1.0,0.000000,0.0
50%,NaN,3.000000,NaN,NaN,NaN,2583.500000,614.000000,1.0,0.000000,0.0
75%,NaN,3.000000,NaN,NaN,NaN,8935.500000,1712.250000,1.0,0.000000,0.0
max,NaN,4.000000,NaN,NaN,NaN,845016.000000,7509.000000,1.0,1.000000,0.0

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ù¾Ø±Ø§Ú©Ù†Ø¯Ú¯ÛŒ <code>is_private</code> Ùˆ <code>is_verified</code>  Ù…Ù†Ø§Ø³Ø¨ Ù†ÛŒØ³Øª.
    <br>
    Ø§Ú©Ø«Ø± Ú©Ø³Ø¨ Ú©Ø§Ø± Ù‡Ø§ Ø¢Ù‚Ø§ÛŒØ§Ù† Ø§Ø¯Ø§Ø±Ù‡ Ù…ÛŒÚ©Ù†Ù†Ø¯ Ù„Ø°Ø§ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ù…ØªØºÛŒÛŒØ± Ù‡Ø¯Ù ÙˆÛŒÚ˜Ú¯ÛŒ Ù…Ù†Ø§Ø³Ø¨ÛŒ Ù‡Ø³Øª.

</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ÙˆÛŒÚ˜Ú¯ÛŒ Ù‡Ø§ÛŒ Ø§Ø¶Ø§ÙÛŒ Ø±Ø§ Ø­Ø°Ù Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ….
    
</font>
</p>

In [10]:
train.drop(columns=['follower_count', 'following_count', 'is_verified',
           'is_private', 'username', 'age', 'biography'], inplace=True)
test.drop(columns=['follower_count', 'following_count', 'is_verified',
          'is_private', 'username', 'age', 'biography'], inplace=True)

In [11]:
train

     gender           fullname  is_business
0       man            Farshid          0.0
1     woman            zahr@72          0.0
2     woman       ms farahnazâ™¥          0.0
3     woman  Lena.mommy farzan          0.0
4     woman  Narsis Asadollahi          0.0
...     ...                ...          ...
7995  woman              ÅŠÎµgÉ¨Å‹          0.0
7996    man    hğŸ—¯abdiğŸ—¯offÃ¬cial          1.0
7997  woman       âšœØ±ÙˆÛŒØ§ Ø§Ø­Ù…Ø¯ÛŒâšœ          0.0
7998    man   Ù„Ø±Ø³ØªØ§Ù† &Ø®Ø±Ù… Ø§Ø¨Ø§Ø¯          0.0
7999    man              Sasan          0.0

[8000 rows x 3 columns]

In [12]:
train.isna().sum()

gender         0
fullname       0
is_business    3
dtype: int64

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ù…Ù‚Ø§Ø¯ÛŒØ± Ú¯Ù…Ø´Ø¯Ù‡ Ø±Ø§ Ø¨Ø§ Ø¨ÛŒØ´ØªØ±ÛŒÙ† ØªÚ©Ø±Ø§Ø± Ù¾Ø± Ù…ÛŒÚ©Ù†ÛŒÙ….

    
</font>
</p>

In [13]:
train.is_business.fillna(0.0, inplace=True)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ø² Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ <code>hazm</code> Ø¨Ø±Ø§ÛŒ Ø²Ø¨Ø§Ù† ÙØ§Ø±Ø³ÛŒ Ùˆ <code>nltk</code>  Ø¨Ø±Ø§ÛŒ Ø²Ø¨Ø§Ù† Ø§Ù†Ú¯Ù„ÛŒØ³ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†ÛŒÙ….
    <br>
    <code>fullname</code> Ø¨Ù‡ Ú©Ù…Ú© ØªÙˆØ§Ø¨Ø¹ Ø²ÛŒØ± Ø¨Ù‡ Ø±ÛŒØ´Ù‡ Ù…Ù†Ø§Ø³Ø¨ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒÚ©Ù†ÛŒÙ….

</font>
</p>

In [14]:
import string
from hazm import *
from hazm import stopwords_list
from nltk.tokenize.casual import TweetTokenizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import unicodedata
import re


normalizer = Normalizer(persian_numbers=False, persian_style=False)
tokenizer = WordTokenizer(separate_emoji=True, replace_links=True, replace_ids=True,
                          replace_emails=False, replace_numbers=True, replace_hashtags=True)
stop_words_EN = set(stopwords.words('english'))
stop_words_FA = set(stopwords_list())

lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()
t = TweetTokenizer()


def pre_fast(text):

    # Decompose compatibility characters
    text = unicodedata.normalize("NFKD", text)

    # lowercase_text(text)
    text = text.lower()

    text = re.sub(r'\d+', '', text)

    # remove_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))

    punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~ØŸ!.ØŒ,?'''

    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, "")

    punc = '''\u200dâ™‚ï¸Ùª'ğŸ»','''
    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, "")

    text = normalizer.normalize(text)

    # Remove_stop_words_English and Remove_stop_words_Farsi and Lemmatizer_Farsi and Stemmer_English
    # romove number

    text = re.sub(r'\d+', '', text)
    words = tokenizer.tokenize(text)
    text = ' '.join(words)
    words = t.tokenize(text)

    words = [lemmatizer.lemmatize(stemmer.stem(
        word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

    text = ' '.join(words)

    punc = '''\u200c'''

    # Removing punctuations in string
    # Using loop + punctuation string
    for ele in text:
        if ele in punc:
            text = text.replace(ele, " ")

    text = re.sub(r'\d+', '', text)
    words = tokenizer.tokenize(text)
    text = ' '.join(words)
    words = t.tokenize(text)
    words = t.tokenize(text)

    words = [lemmatizer.lemmatize(stemmer.stem(
        word)) for word in words if word not in (stop_words_EN | stop_words_FA)]

    text = ' '.join(words)

    text = normalizer.normalize(text)
    # remove_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))

    text = text.replace('''\u200c''', " ")
    text = text.replace('\u200c', " ")

    global A

    return text

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ù‡ Ú©Ù…Ú© <code>TfidfVectorizer</code> Ù…ØªÙ† Ø¨Ù‡ Ø¨Ø±Ø¯Ø§Ø±Ù‡Ø§ÛŒ Ø¹Ø¯Ø¯ÛŒ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒÚ©Ù†ÛŒÙ….
    
</font>
</p>

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer


corpus = train['fullname']
tfidf_vect_fullname = TfidfVectorizer(preprocessor=pre_fast, min_df=2)
final_counts_fullname = tfidf_vect_fullname.fit_transform(corpus)

print(tfidf_vect_fullname.get_feature_names_out())
print(final_counts_fullname.toarray()[0])
print(final_counts_fullname.toarray()[1])

['aba' 'abadi' 'abba' ... 'áƒ Ïƒáƒ«' 'ã¿Î±' 'ä¹™ãƒ ']
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]

In [16]:
tfidf_vect_fullname.get_feature_names_out()

array(['aba', 'abadi', 'abba', ..., 'áƒ Ïƒáƒ«', 'ã¿Î±', 'ä¹™ãƒ '], dtype=object)

In [17]:
test_biography = test['fullname']
test_counts_fullname = tfidf_vect_fullname.transform(test_biography)

In [18]:
final_counts_fullname.toarray().shape

(8000, 1235)

In [19]:
test_counts_fullname.toarray().shape

(2000, 1235)

In [20]:
train_data = pd.DataFrame(final_counts_fullname.toarray())
test_data = pd.DataFrame(test_counts_fullname.toarray())
train_data

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
Ù…Ù‚Ø§Ø¯ÛŒØ± ØºÛŒØ± Ø¹Ø¯Ø¯ÛŒ Ø±Ø§ Ø¨Ù‡ Ø¹Ø¯Ø¯ÛŒ ØªØ¨Ø¯ÛŒÙ„ Ù…ÛŒÚ©Ù†ÛŒÙ….

</font>
</p>

In [21]:
train.drop(columns=['fullname'], inplace=True)

train['gender'].replace({'woman': 0, 'man': 1}, inplace=True)
train

      gender  is_business
0          1          0.0
1          0          0.0
2          0          0.0
3          0          0.0
4          0          0.0
...      ...          ...
7995       0          0.0
7996       1          1.0
7997       0          0.0
7998       1          0.0
7999       1          0.0

[8000 rows x 2 columns]

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
Ø¯ÛŒØªØ§ Ù†Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨Ø±Ø§ÛŒ Ù…ÙˆØ¯Ù„ Ø³Ø§Ø²ÛŒ Ù…ÛŒØ³Ø§Ø²ÛŒÙ….

</font>
</p>

In [22]:
test.drop(columns=['fullname'], inplace=True)

In [23]:
concatenated_test_data = pd.concat([test, test_data], axis=1)
concatenated_test_data.columns = concatenated_test_data.columns.astype(str)
concatenated_test_data

,is_business,0,1,2,3,4,5,6,7,8,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
concatenated_train_data = pd.concat([train, train_data], axis=1)
concatenated_train_data.columns = concatenated_train_data.columns.astype(str)
concatenated_train_data

,gender,is_business,0,1,2,3,4,5,6,7,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7996,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7997,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7998,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7999,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

--------------------------------------------------

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¯Ù„â€ŒØ³Ø§Ø²ÛŒ
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø®Ø´ÛŒ Ø§Ø² Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø±Ø§ Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø§Ø¹ØªØ¨Ø§Ø±Ø³Ù†Ø¬ÛŒ Ø¬Ø¯Ø§ Ù…ÛŒÚ©Ù†ÛŒÙ….

</font>
</p>

In [25]:
from sklearn.model_selection import train_test_split
X = concatenated_train_data.drop(columns=['gender']).to_numpy()
y = concatenated_train_data['gender'].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø­Ø§Ù„ Ú©Ù‡ Ø¯Ø§Ø¯Ù‡ Ø±Ø§ Ù¾Ø§Ú©Ø³Ø§Ø²ÛŒ Ú©Ø±Ø¯Ù‡ØŒ ÙˆÙ‚Øª Ø¢Ù† Ø§Ø³Øª Ú©Ù‡ Ù…Ø¯Ù„ÛŒ Ø¢Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒØ¯ Ú©Ù‡ Ø¨ØªÙˆØ§Ù†Ø¯ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†Ø¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø±Ø­Ù„Ù‡ Ø§ÙˆÙ„
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ø² ØªØ¹Ø¯Ø§Ø¯ÛŒ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ù…Ø§Ø´ÛŒÙ† Ù„Ø±Ù†ÛŒÙ†Ú¯ Ù…Ø¹Ù…ÙˆÙ„ÛŒ Ù…Ø«Ù„ XGBoost ØŒDecision Tree ØŒNaive Bayes ØŒSVM ØŒLogistic Regression Ùˆ  AdaBoost    Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ… 
        <br>
    Ùˆ Ø¯Ù‚Øª Ù‡Ø± Ù…Ø¯Ù„ Ø±Ø§ Ù†Ù…Ø§ÛŒØ´ Ù…ÛŒØ¯Ù‡ÛŒÙ….

</font>
</p>

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report


# List of models
models = [
    LogisticRegression(),
    SVC(),
    GaussianNB(),
    DecisionTreeClassifier(),
    XGBClassifier(),
    AdaBoostClassifier()
]


# Fit models and print classification report
for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(model.__class__.__name__+' Report:')
    print(classification_report(y_test, y_pred))

LogisticRegression Report:
              precision    recall  f1-score   support

           0       0.75      0.94      0.83       801
           1       0.92      0.69      0.79       799

    accuracy                           0.81      1600
   macro avg       0.83      0.81      0.81      1600
weighted avg       0.83      0.81      0.81      1600

SVC Report:
              precision    recall  f1-score   support

           0       0.75      0.91      0.82       801
           1       0.89      0.69      0.78       799

    accuracy                           0.80      1600
   macro avg       0.82      0.80      0.80      1600
weighted avg       0.82      0.80      0.80      1600

GaussianNB Report:
              precision    recall  f1-score   support

           0       0.92      0.53      0.67       801
           1       0.67      0.95      0.78       799

    accuracy                           0.74      1600
   macro avg       0.79      0.74      0.73      1600
weighted avg       0.79      0.74      0.73      1600

DecisionTreeClassifier Report:
              precision    recall  f1-score   support

           0       0.74      0.92      0.82       801
           1       0.90      0.68      0.78       799

    accuracy                           0.80      1600
   macro avg       0.82      0.80      0.80      1600
weighted avg       0.82      0.80      0.80      1600

XGBClassifier Report:
              precision    recall  f1-score   support

           0       0.68      0.94      0.79       801
           1       0.90      0.55      0.68       799

    accuracy                           0.74      1600
   macro avg       0.79      0.74      0.73      1600
weighted avg       0.79      0.74      0.73      1600

AdaBoostClassifier Report:
              precision    recall  f1-score   support

           0       0.63      0.93      0.75       801
           1       0.86      0.45      0.59       799

    accuracy                           0.69      1600
   macro avg       0.75      0.69      0.67      1600
weighted avg       0.75      0.69      0.67      1600

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
     Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Logistic Regression Ø¨Ø§ 0.81 = f1-score Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ ØªØ§ Ø§Ù„Ø§Ù† Ø¯Ø§Ø±Ø¯.

</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø±Ø­Ù„Ù‡ Ø¯ÙˆÙ…
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Stack generalization Ø¨Ø±Ø±Ø³ÛŒ Ù…ÛŒÚ©Ù†ÛŒÙ…ØŒ Ø¯Ù‚Øª ØªØ±Ú©ÛŒØ¨ Ù‡Ù…Ø´ÙˆÙ† Ø¨Ù‡ØªØ± Ø§Ø² ØªÚ© ØªÚ©Ø´ÙˆÙ† Ù…ÛŒØ´ÙˆØ¯ ÛŒØ§ Ø®ÛŒØ±.

</font>
</p>

In [27]:
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report


# Define the base models
base_models = [
    ('lr', LogisticRegression()),
    ('svm', SVC()),
    ('nb', GaussianNB()),
    ('dt', DecisionTreeClassifier()),
    ('xgb', XGBClassifier()),
    ('ab', AdaBoostClassifier())
]

# Define the meta-model (Logistic Regression is used here, you can choose a different one)
meta_model = LogisticRegression()

# Create the stacking classifier
stacking_classifier = StackingClassifier(
    estimators=base_models, final_estimator=meta_model)

# Train the stacking classifier
stacking_classifier.fit(X_train, y_train)

# Make predictions
y_pred_stacking = stacking_classifier.predict(X_test)

# Print the classification report for the stacking classifier
print("Stacking Classifier Classification Report:")
print(classification_report(y_test, y_pred_stacking))

Stacking Classifier Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.94      0.84       801
           1       0.92      0.69      0.79       799

    accuracy                           0.82      1600
   macro avg       0.84      0.82      0.81      1600
weighted avg       0.84      0.82      0.81      1600


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ØªØ±Ú©ÛŒØ¨ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ù‡Ø§ Ø¯Ù‚Øª Ø±Ø§ Ú©Ù…ÛŒ Ø§ÙØ²Ø§ÛŒØ´ Ø¯Ø§Ø¯.
        <br>
Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Stack generalization Ø¨Ø§ 0.82 = f1-score Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ ØªØ§ Ø§Ù„Ø§Ù† Ø¯Ø§Ø±Ø¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø±Ø­Ù„Ù‡ Ø³ÙˆÙ…
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  Ú†Ù†Ø¯ Ø±ÙˆØ´ Ø¹Ù…ÛŒÙ‚ Ø±Ø§ ØªØ³Øª Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ… Ùˆ Ø¨Ø§ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Ù‡Ø§ÛŒ Ù‚Ø¨Ù„ÛŒ Ù…Ù‚Ø§ÛŒØ³Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ….

</font>
</p>

In [29]:
from sklearn.metrics import classification_report
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Conv1D, LSTM, Flatten


# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

num_columns = X_train[0].size


# Model 1: Multilayer Perceptron (MLP)
model_mlp = Sequential([
    Dense(128, activation='relu', input_shape=(num_columns,)),
    Dense(64, activation='relu'),
    Dense(2, activation='softmax')
])

model_mlp.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_mlp.fit(X_train, y_train, epochs=5, batch_size=8, validation_split=0.1)


# Model 2: Convolutional Neural Network (CNN)
X_train_cnn = X_train.reshape(-1, num_columns, 1)
X_test_cnn = X_test.reshape(-1, num_columns, 1)

model_cnn = Sequential([
    Conv1D(16, kernel_size=2, activation='relu', input_shape=(num_columns, 1)),
    Flatten(),

    Dense(2, activation='softmax')
])

model_cnn.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_cnn.fit(X_train_cnn, y_train, epochs=5,
              batch_size=8, validation_split=0.1)


# Model 3: Recurrent Neural Network (RNN)
model_rnn = Sequential([
    LSTM(64, activation='relu', input_shape=(num_columns, 1)),
    Dense(2, activation='softmax')
])

model_rnn.compile(optimizer='adam',
                  loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model_rnn.fit(X_train_cnn, y_train, epochs=1,
              batch_size=8, validation_split=0.1)

# Evaluate models


def evaluate_model(model, X_test, y_test, model_name):
    print(f"\n{model_name} Evaluation:")
    y_pred_probs = model.predict(X_test)
    y_pred = np.argmax(y_pred_probs, axis=1)
    print(classification_report(y_test, y_pred))


# Evaluate the MLP model
evaluate_model(model_mlp, X_test, y_test, "Multilayer Perceptron")

# Evaluate the CNN model
evaluate_model(model_cnn, X_test_cnn, y_test, "Convolutional Neural Network")

# Evaluate the RNN model
evaluate_model(model_rnn, X_test_cnn, y_test, "Recurrent Neural Network")

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/5
WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Danial\anaconda3\envs\quera\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

720/720 [==============================] - 5s 5ms/step - loss: 0.5383 - accuracy: 0.7010 - val_loss: 0.4288 - val_accuracy: 0.7656
Epoch 2/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3196 - accuracy: 0.8076 - val_loss: 0.4188 - val_accuracy: 0.7672
Epoch 3/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2970 - accuracy: 0.8056 - val_loss: 0.4057 - val_accuracy: 0.7688
Epoch 4/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2869 - accuracy: 0.8116 - val_loss: 0.4046 - val_accuracy: 0.7750
Epoch 5/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2778 - accuracy: 0.8193 - val_loss: 0.4107 - val_accuracy: 0.7734
Epoch 1/5
720/720 [==============================] - 4s 5ms/step - loss: 0.5092 - accuracy: 0.7278 - val_loss: 0.4379 - val_accuracy: 0.7750
Epoch 2/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3114 - accuracy: 0.8085 - val_loss: 0.4326 - val_accuracy: 0.7719
Epoch 3/5
720/720 [==============================] - 3s 4ms/step - loss: 0.3015 - accuracy: 0.8137 - val_loss: 0.4131 - val_accuracy: 0.7766
Epoch 4/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2914 - accuracy: 0.8161 - val_loss: 0.4031 - val_accuracy: 0.7734
Epoch 5/5
720/720 [==============================] - 3s 4ms/step - loss: 0.2869 - accuracy: 0.8196 - val_loss: 0.3998 - val_accuracy: 0.7797
720/720 [==============================] - 230s 317ms/step - loss: 63526140.0000 - accuracy: 0.5014 - val_loss: 0.6947 - val_accuracy: 0.4969

Multilayer Perceptron Evaluation:
50/50 [==============================] - 0s 2ms/step
              precision    recall  f1-score   support

           0       0.73      0.91      0.81       801
           1       0.88      0.66      0.75       799

    accuracy                           0.78      1600
   macro avg       0.80      0.78      0.78      1600
weighted avg       0.80      0.78      0.78      1600


Convolutional Neural Network Evaluation:
50/50 [==============================] - 0s 3ms/step
              precision    recall  f1-score   support

           0       0.74      0.91      0.82       801
           1       0.89      0.68      0.77       799

    accuracy                           0.80      1600
   macro avg       0.81      0.80      0.79      1600
weighted avg       0.81      0.80      0.79      1600


Recurrent Neural Network Evaluation:
50/50 [==============================] - 10s 188ms/step
              precision    recall  f1-score   support

           0       0.50      0.00      0.01       801
           1       0.50      1.00      0.67       799

    accuracy                           0.50      1600
   macro avg       0.50      0.50      0.34      1600
weighted avg       0.50      0.50      0.34      1600

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
  Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ù…Ø­Ø¯ÙˆØ¯ Ø¨ÙˆØ¯Ù† Ù…Ù†Ø§Ø¨Ø¹ Ù¾Ø±Ø¯Ø§Ø²Ø´ÛŒ ÛŒØ§Ø¯Ú¯ÛŒØ±ÛŒ Ø±Ø§ Ø¯Ø± Ù…Ø±Ø§Ø­Ù„ Ø§ÙˆÙ„ÛŒÙ‡ Ù…ØªÙˆÙ‚Ù Ú©Ø±Ø¯ÛŒÙ….
  <br>
    Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ØŒ Ø¯Ø± Ø±ÙˆØ´ Ù‡Ø§ÛŒ ÛŒØ§Ø¯Ú¯ÛŒØ±ÛŒ Ø¹Ù…ÛŒÙ‚  CNN Ø¨Ø§ 0.80 = f1-score  Ø¯Ø§Ø±Ø¯.


</font>
</p>

------------

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ ØªØ¹Ø¯Ø§Ø¯ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ÛŒ Ùˆ Ù…Ø­Ø¯ÙˆØ¯ÛŒØª Ù…Ù†Ø§Ø¨Ø¹ Ù¾Ø±Ø¯Ø§Ø²Ø´ÛŒØŒ
Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ… Stack generalization Ø¨Ø§ 0.82 = f1-score Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ Ø¯Ø§Ø±Ø¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ø¨Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ùˆ Ø®Ø±ÙˆØ¬ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ù¾Ø³ Ø§Ø² Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒØŒ Ù…Ø¯Ù„Ø³Ø§Ø²ÛŒ Ùˆ Ø¨Ø±Ø±Ø³ÛŒ Ø§Ù†ÙˆØ§Ø¹ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ…â€ŒÙ‡Ø§  Ú©Ù‡ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ù†Ø¯ Ù…Ø§ Ø±Ø§ Ø§Ø² Ù…ØªØºÛŒØ±Ù‡Ø§ÛŒ Ù…Ø³ØªÙ‚Ù„ Ø¨Ù‡ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¨Ø±Ø³Ø§Ù†Ø¯.
    <br>
    ÙˆÙ‚Øª Ø¢Ù† Ø±Ø³ÛŒØ¯Ù‡ Ø§Ø³Øª Ø§Ø² Ù…Ø¯Ù„ÛŒ Ú©Ù‡ Ø¨ÛŒØ´ØªØ±ÛŒÙ† Ø¯Ù‚Øª Ø±Ø§ Ø¯Ø§Ø±Ø¯ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒÙ… Ùˆ Ù†ØªØ§ÛŒØ¬ Ø±Ø§ Ø¯Ø± Ù‚Ø§Ù„Ø¨ Ø¬Ø¯ÙˆÙ„ (<code>dataframe</code>) Ø²ÛŒØ± Ø¢Ù…Ø§Ø¯Ù‡ Ú©Ù†ÛŒÙ….
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª Ú©Ø§Ø±Ø¨Ø±|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ø§ÛŒÙ† Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… ØªÙ†Ù‡Ø§ Ø´Ø§Ù…Ù„ Û± Ø³ØªÙˆÙ† Ø¨Ø§ Ø§Ø³Ù… <i>gender</i> Ø§Ø³Øª Ùˆ Û²Û°Û°Û° Ø³Ø·Ø± Ø§Ø³Øª.

</font>
</p>

In [ ]:
pred = stacking_classifier.predict(concatenated_test_data)

In [32]:
submission = pd.DataFrame(pred,columns=['gender'])
submission['gender'].replace({0:'woman', 1:'man'},inplace=True)

submission

     gender
0     woman
1       man
2       man
3     woman
4     woman
...     ...
1995  woman
1996  woman
1997  woman
1998  woman
1999  woman

[2000 rows x 1 columns]